// imagesBaseURL
$imagesBaseURL:"https://tedxshenzhen.oss-cn-shenzhen.aliyuncs.com/images/";

// font-size
$font-size-head       : 1.5rem;
$font-size-title      : 1.2rem;
$font-size-maincontent: 1.2rem;
$font-size-content    : 1rem;
$font-size-secondary  : .8rem;
$font-size-description: .6rem;

// font-color
$color-black : #000000;
$color-semi  : #353535;
$color-gray  : #666666;
$color-light : #b2b2b2;
$color-white : #ffffff;

// background-color
$bg-color-light : #F8F8F8;

// line-height
$D-line-height: 1.5;

$tedx-red:#eb2027;

// 
$right-color : #09BB07;
$error-color : #E64340;

//marigin 
$margin-bottom:.6rem;

// border
$color-border   : #eeeeee;
$color-border-D9: #D9D9D9;
$border-radius: 0.25rem;